*{
    color: orangered !important;
    text-align: center;
}

a{
    text-decoration: none;
}

/*=======================================================================*/
/*Estilos barra de navegación*/
/*=======================================================================*/

nav a{
    text-align: end;
}

nav a:hover{
    text-shadow: 2px 2px 5px orangered;
    
}



/*=======================================================================*/
/*Estilos Slider*/
/*=======================================================================*/

.carousel img {
    max-height: 40em;
}

@media (min-width: 992px) {
    .carousel{
        width: 75%;
        margin: 0 auto;

    }
    
}

/*=======================================================================*/
/*Sobre Nosotros*/
/*=======================================================================*/

.arigato p{
    margin: 0 auto;
    max-width: 80%;
}
  
/*=======================================================================*/
/*Carta*/
/*=======================================================================*/

.menuAdultos{
    background-image: url(/Repositorios/Proyecto-carta-restaurante/img/menúadultos.gif);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 15em;
}

.menuNiños{
    background-image: url(/Repositorios/Proyecto-carta-restaurante/img/menúniño.gif);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 15em;
}

.card{
    width: 40em;
}


/*@media (max-width: 991px) {
    .menuNiños{
        margin-top: 1.5em;
    }
}*/