*{
    color: orangered !important;
    text-align: center;
    font-family: Comic Sans MS;}

a{
    text-decoration: none;
}

body{
    background-color:rgb(29, 28, 28);
}

/*=======================================================================*/
/*Estilos barra de navegación*/
/*=======================================================================*/

nav a{
    text-align: end;
}

nav a:hover{
    text-shadow: 2px 2px 5px orangered;
    
}



/*=======================================================================*/
/*Estilos Slider*/
/*=======================================================================*/

.carousel img {
    max-height: 40em;
}



/*=======================================================================*/
/*Sobre Nosotros*/
/*=======================================================================*/

.arigato{
    border-top: solid 2px orangered;
    border-bottom: solid 2px orangered;
    padding: 3em 0 ;
    margin: 0 10%;
}

.arigato p{
    margin: 0 auto;
}
  
/*=======================================================================*/
/*Carta*/
/*=======================================================================*/

.card{
    width:70%;
}

/*=======================================================================*/
/*Footer*/
/*=======================================================================*/

footer{
    border-top: solid 2px orangered;
}

footer p{
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: .7em;
}

/*=======================================================================*/
/*Media Queries*/
/*=======================================================================*/

@media (max-width: 576px) {
    .card{
        width: 100%;
    }

    .cartaNiños {
        margin-top: 200px;
    }
}

@media (min-width: 992px) {
    .carousel{
        width: 80%;
        margin: 0 auto;

    }
    
}