*{
    color: orangered !important;
    text-align: center;
}

/*=======================================================================*/
/*Estilos barra de navegación*/
/*=======================================================================*/

nav a{
    text-align: end;
}

nav a:hover{
    text-shadow: 2px 2px 5px orangered;
    
}



/*=======================================================================*/
/*Estilos Carousel*/
/*=======================================================================*/

.carousel img {
    max-height: 40em;
}

@media (min-width: 992px) {
    .carousel{
        width: 75%;
        margin: 0 auto;

    }
    
}

/*=======================================================================*/
/*Sobre Nosotros*/
/*=======================================================================*/

.arigato p{
    margin-bottom: 0;
    
}
  
/*=======================================================================*/
/*Carta*/
/*=======================================================================*/

@media (max-width: 991px) {
    .menuNiños{
        margin-top: 1.5em;
    }
}