*{
    color: orangered !important;
}
.body{
   font-family: Comic Sans MS; 
   color: orangered;
   background-color: rgb(29, 28, 28);
   
}

.letra{
    text-shadow: 2px 3px orange;
    font-family: Comic Sans MS; 
    color: orangered;
    margin-left: 5%;
}
h1{
    margin-left: 20%;
    margin-top: 5%;
}
.imagen{
    height: 5em;
    width: 500px;
    margin-left: 25%;
    top: 5px;
}


img{
    height: 50%;
    width: 50%;
}
.formulario{
    margin-left: 5%; 
}
.naruto{
    margin-left: 45%; 
}
.Contacto{
    margin-left: 5%;
}
.foot{
    text-align: center;
}