.body{
   font-family: Comic Sans MS; 
   color: orangered;
   background-color: black;
   
}
.formulario{
    margin-left: 5em;
}
.letra{
    text-shadow: 2px 3px orange;
    font-family: Comic Sans MS; 
    color: orangered;
}
h1{
    margin-left: 20%;
    margin-top: 5%;
}
.imagen{
    height: 9em;
    width: 700px;
    margin-left: 25%;
    top: 5px;
}
.luffy{
    width: 5em;
    height: 2em;
}